.idea/*
.idea/workspace.xml
.idea/*
Frontend - awstl/.idea/shelf/Uncommitted_changes_before_Checkout_at_21_02_2022,_12_40_[Changes]/shelved.patch
Frontend - awstl/.idea/shelf/Uncommitted_changes_before_Checkout_at_21_02_2022__12_40__Changes_.xml
Frontend - awstl/.idea/shelf/Uncommitted_changes_before_Update_at_25_02_2022,_10_14_[Changes]/shelved.patch
Frontend - awstl/.idea/shelf/Uncommitted_changes_before_Update_at_25_02_2022,_10_14_[Changes]1/shelved.patch
Frontend - awstl/.idea/shelf/Uncommitted_changes_before_Update_at_25_02_2022,_10_18_[Changes]/shelved.patch
Frontend - awstl/.idea/shelf/Uncommitted_changes_before_Update_at_25_02_2022,_10_18_[Changes]1/shelved.patch
Frontend - awstl/.idea/shelf/Uncommitted_changes_before_Update_at_25_02_2022__10_14__Changes_.xml
Frontend - awstl/.idea/shelf/Uncommitted_changes_before_Update_at_25_02_2022__10_14__Changes_1.xml
Frontend - awstl/.idea/shelf/Uncommitted_changes_before_Update_at_25_02_2022__10_18__Changes_.xml
Frontend - awstl/.idea/vcs.xml
Frontend - awstl/.idea/workspace.xml
Frontend - awstl/.idea/shelf/Uncommitted_changes_before_Checkout_at_21_02_2022,_12_40_[Changes]/shelved.patch
Frontend - awstl/.idea/shelf/Uncommitted_changes_before_Update_at_25_02_2022,_10_14_[Changes]/shelved.patch
Frontend - awstl/.idea/shelf/Uncommitted_changes_before_Update_at_25_02_2022,_10_14_[Changes]1/shelved.patch
Frontend - awstl/.idea/shelf/Uncommitted_changes_before_Update_at_25_02_2022,_10_18_[Changes]/shelved.patch
Frontend - awstl/.idea/shelf/Uncommitted_changes_before_Update_at_25_02_2022,_10_18_[Changes]1/shelved.patch
*.patch
