
body {
  background-color: #dff2f6;
}


.App {
  text-align: center;
}

.inputs {
  display: flex;
  justify-content: center;
}


@media screen and (max-width: 900px) {
  #arbeiderBox {
    justify-content: center!important;
  }
}