body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: white;
}

/* For å endre klokkeikonet i html elementet med type time */
input[type="time"]::-webkit-calendar-picker-indicator{
  filter: invert(32%) sepia(89%) saturate(1477%) hue-rotate(162deg) brightness(94%) contrast(103%); /* #0090a8  */
    
}
